<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>IA Gerenciadora de Tarefas</title>

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/fullcalendar.min.css">
</head>

<body>
    <h1>Gerenciador Inteligente de Tarefas</h1>

    <textarea id="texto" placeholder="Digite suas tarefas..."></textarea>
    <button onclick="enviarTexto()">Processar</button>

    <div id="calendario"></div>

    <script src="/static/fullcalendar.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
